config/RMAP Chatbot.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#D1E9FF'
  icon_type: emoji
  mode: advanced-chat
  name: RMAP Chatbot
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.5@e2b13201d65c15f5112e9b7696f7802283e807e6bb0d6fab1deda263da7331fe
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528914102-source-1778150713944-target
      source: '1711528914102'
      sourceHandle: source
      target: '1778150713944'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1778150713944-1-1711528915811-target
      source: '1778150713944'
      sourceHandle: '1'
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: parameter-extractor
      id: 1778150713944-2-1778151289106-target
      source: '1778150713944'
      sourceHandle: '2'
      target: '1778151289106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: code
      id: 1778151289106-source-1778157971717-target
      source: '1778151289106'
      sourceHandle: source
      target: '1778157971717'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778157971717-source-1778235946024-target
      source: '1778157971717'
      sourceHandle: source
      target: '1778235946024'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1778235946024-source-1711528919501-target
      source: '1778235946024'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: The user's question comes in here.
        selected: false
        title: Start
        type: start
        variables: []
      height: 100
      id: '1711528914102'
      position:
        x: -815.3283207728958
        y: 2653.08043318539
      positionAbsolute:
        x: -815.3283207728958
        y: 2653.08043318539
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 5/WcDtIuGANrAhqT255sDDblyQ7EPbz5ptEFPwuSFpIFdL2zcvi5ayyg7/+ctuJt
        desc: Search your knowledge base to find the most relevant content for user's
          question.
        metadata_filtering_mode: manual
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-oss
          provider: langgenius/ollama/ollama
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: nomic-embed-text-v2-moe
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 🌟 Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 149
      id: '1711528915811'
      position:
        x: 166.65601499331115
        y: 2482.3627099436553
      positionAbsolute:
        x: 166.65601499331115
        y: 2482.3627099436553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Turn retrieved content into a clear and helpful answers with AI.
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-oss
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 943448fa-b145-4ae7-a485-d77e4a2cc77b
          role: system
          text: 'You are a knowledgeable assistant. Answer the user''s question using
            the information provided in the {{#context#}} below.


            Guidelines:

            - Answer in the same language as the user''s question.

            - If the answer is not in the context, say: "I''m not sure about that
            — could you clarify or rephrase your question?"

            - Keep answers concise and helpful.

            - Do not reference the context directly in your response.'
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 131
      id: '1711528917469'
      position:
        x: 646.4497561136824
        y: 2634.5
      positionAbsolute:
        x: 646.4497561136824
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}{{#1778235946024.text#}}'
        desc: Send the final response back to the user.
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 146
      id: '1711528919501'
      position:
        x: 1115.278701218825
        y: 2634.5
      positionAbsolute:
        x: 1115.278701218825
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: Content based (search for terms, concepts and summaries)
        - id: '2'
          name: Meta data aggregation (search for authors, years, cardinalities)
        instruction: 'Classify the user question into one of two classes.


          CLASS 1 (Content/RAG): The user asks for explanations, summaries, mechanisms,
          interpretations, conclusions, or "what is known" style answers based on document
          content.


          CLASS 2 (Metadata/GraphQL): The user asks for counts, lists, filtering, or exact
          lookup by metadata fields such as author, year, journal, or title.


          Routing rule for hybrid questions:


          - If the question contains a clear metadata intent (how many, list, papers by X,
          in year Y, in journal Z), route to CLASS 2.


          - Only route to CLASS 1 when the user primarily asks for content understanding.


          Examples:


          - CLASS 1: "What can you tell me about the knockdown of METTL1?"


          - CLASS 2: "How many papers are (co-) authored by Mark Helm?"


          - CLASS 2: "List papers by C. Dieterich in 2021."


          - CLASS 2: "How many papers by C. Dieterich and what journals are they in?"'
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-oss
          provider: langgenius/ollama/ollama
        query_variable_selector:
        - '1711528914102'
        - sys.query
        selected: false
        title: Question Classifier
        type: question-classifier
        vision:
          enabled: false
      height: 169
      id: '1778150713944'
      position:
        x: -375.68874964550065
        y: 2621.6859207764505
      positionAbsolute:
        x: -375.68874964550065
        y: 2621.6859207764505
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: 'Extract only explicit metadata constraints from the user question
          for database filtering.


          Rules:


          - year: return publication year only if explicitly stated; otherwise leave empty.


          - authors: return a list of author names only if explicitly stated.


          - journal: return journal only if explicitly stated.


          - title: return title only if explicitly stated.


          - Do not infer or hallucinate missing values.


          - If a field is unknown, return empty value for that field.


          - Preserve spelling from user input where possible.


          Goal: maximize precision of metadata filters for GraphQL query.'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-oss
          provider: langgenius/ollama/ollama
        parameters:
        - description: The year that requested papers have been published in.
          name: year
          required: true
          type: number
        - description: List of authors (co-)authoring a document.
          name: authors
          required: true
          type: array[string]
        - description: The journal name that requested papers have been published
            in.
          name: journal
          required: true
          type: string
        - description: The title a requested paper was named.
          name: title
          required: true
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        vision:
          enabled: false
      height: 87
      id: '1778151289106'
      position:
        x: -69.870317710466
        y: 2919.5942650549255
      positionAbsolute:
        x: -69.870317710466
        y: 2919.5942650549255
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport os\nimport re\nfrom urllib.error import HTTPError, URLError\nfrom urllib.parse import urlencode\nfrom urllib.request import Request, urlopen\n\nCODE_VERSION = \"metadata_query_v2026-05-11_dify-metadata_1\"\n\n_EMPTY_TOKENS = {\n    \"\",\n    \"null\",\n    \"none\",\n    \"unknown\",\n    \"n/a\",\n    \"na\",\n    \"[]\",\n    \"{}\",\n    \"-\",\n}\n\n\ndef _is_set(value) -> bool:\n    if value is None:\n        return False\n    if isinstance(value, (int, float)) and value == 0:\n        return False\n    if isinstance(value, list):\n        return any(_is_set(item) for item in value)\n    if isinstance(value, dict):\n        return any(_is_set(v) for v in value.values())\n    text = str(value).strip()\n    return text.lower() not in _EMPTY_TOKENS\n\n\ndef _normalize_text(value) -> str:\n    if value is None:\n        return \"\"\n    text = str(value).strip()\n    return \"\" if text.lower() in _EMPTY_TOKENS else text\n\n\ndef _to_string_list(value) -> list[str]:\n    if value is None:\n        return []\n    if isinstance(value, list):\n        return [_normalize_text(v) for v in value if _is_set(v)]\n    if isinstance(value, dict):\n        # Accept common extractor payload shapes like {\"value\": \"...\"}.\n        candidates = []\n        for key in (\"value\", \"name\", \"author\", \"authors\", \"text\"):\n            if key in value:\n                entry = value.get(key)\n                if isinstance(entry, list):\n                    candidates.extend(_to_string_list(entry))\n                elif _is_set(entry):\n                    norm = _normalize_text(entry)\n                    if norm:\n                        candidates.append(norm)\n        if candidates:\n            return candidates\n        return [_normalize_text(v) for v in value.values() if _is_set(v)]\n    if _is_set(value):\n        normalized = _normalize_text(value)\n        return [normalized] if normalized else []\n    return []\n\n\ndef _author_variants(author: str) -> list[str]:\n    text = \" \".join(str(author).strip().split())\n    if not text:\n        return []\n\n    variants = [text]\n    parts = text.split(\" \")\n    if len(parts) >= 2:\n        first = parts[0].strip(\".\")\n        last = parts[-1].strip(\".,;\")\n        if first and last:\n            variants.append(f\"{first[0]}. {last}\")\n            variants.append(f\"{first[0]} {last}\")\n            variants.append(last)\n\n    seen = set()\n    deduped = []\n    for item in variants:\n        key = item.lower()\n        if key in seen:\n            continue\n        seen.add(key)\n        deduped.append(item)\n    return deduped\n\n\ndef _build_headers(api_key: str) -> dict:\n    return {\n        \"Authorization\": f\"Bearer {api_key}\",\n        \"Content-Type\": \"application/json\",\n    }\n\n\ndef _run_json_get(\n    url: str, headers: dict, timeout: int = 30\n) -> tuple[dict, str | None]:\n    request = Request(url=url, headers=headers, method=\"GET\")\n    try:\n        with urlopen(request, timeout=timeout) as response:\n            body = response.read().decode(\"utf-8\", errors=\"replace\")\n            status = response.getcode()\n    except HTTPError as exc:\n        body = exc.read().decode(\"utf-8\", errors=\"replace\")\n        return {}, f\"Dify API Error {exc.code}: {body}\"\n    except URLError as exc:\n        return {}, f\"Connection error to Dify API: {exc}\"\n    except Exception as exc:\n        return {}, f\"Unexpected Dify API error: {exc}\"\n\n    if status != 200:\n        return {}, f\"Dify API Error {status}: {body}\"\n\n    try:\n        return json.loads(body), None\n    except ValueError:\n        return {}, f\"Invalid JSON response: {body}\"\n\n\ndef _extract_items(payload: dict) -> list[dict]:\n    if isinstance(payload, dict):\n        if isinstance(payload.get(\"data\"), list):\n            return payload.get(\"data\", [])\n        if isinstance(payload.get(\"documents\"), list):\n            return payload.get(\"documents\", [])\n    return []\n\n\ndef _metadata_to_dict(detail: dict) -> dict[str, str]:\n    result = {}\n    for item in detail.get(\"doc_metadata\", []) or []:\n        name = str((item or {}).get(\"name\") or \"\").strip().lower()\n        value = (item or {}).get(\"value\")\n        if name:\n            result[name] = \"\" if value is None else str(value).strip()\n    return result\n\n\ndef _matches_filters(meta: dict[str, str], year, authors, journal, title) -> bool:\n    meta_year = _normalize_text(meta.get(\"year\", \"\"))\n    meta_authors = _normalize_text(meta.get(\"authors\", \"\"))\n    meta_journal = _normalize_text(meta.get(\"journal\", \"\"))\n    meta_title = _normalize_text(meta.get(\"title\", \"\"))\n\n    year_text = _normalize_text(year)\n    journal_text = _normalize_text(journal)\n    title_text = _normalize_text(title)\n\n    if _is_set(year_text) and year_text.lower() != meta_year.lower():\n        return False\n\n    if _is_set(journal_text) and journal_text.lower() not in meta_journal.lower():\n        return False\n\n    if _is_set(title_text) and title_text.lower() not in meta_title.lower():\n        return False\n\n    author_inputs = _to_string_list(authors)\n    for author in author_inputs:\n        variants = [v.lower() for v in _author_variants(author)]\n        if not any(v in meta_authors.lower() for v in variants):\n            return False\n\n    return True\n\n\ndef _sanitize_year_filter(value) -> str:\n    text = _normalize_text(value)\n    if not text:\n        return \"\"\n    return text if re.fullmatch(r\"(19|20)\\d{2}\", text) else \"\"\n\n\ndef _sanitize_free_text_filter(value, max_len: int = 120) -> str:\n    text = _normalize_text(value)\n    if not text:\n        return \"\"\n    # Extractor noise often includes full questions or long fragments.\n    if len(text) > max_len:\n        return \"\"\n    if \"?\" in text:\n        return \"\"\n    lower = text.lower()\n    noisy_markers = [\"which documents\", \"co-authored\", \"co-authored by\", \"authored by\"]\n    if any(marker in lower for marker in noisy_markers):\n        return \"\"\n    return text\n\n\ndef _collect_documents(\n    api_base: str, dataset_id: str, headers: dict\n) -> tuple[list[dict], list[str]]:\n    errors = []\n    docs = []\n\n    list_url = f\"{api_base}/datasets/{dataset_id}/documents\"\n    payload, err = _run_json_get(list_url, headers=headers)\n    if err:\n        return [], [err]\n\n    items = _extract_items(payload)\n    for item in items:\n        doc_id = str((item or {}).get(\"id\") or \"\").strip()\n        if not doc_id:\n            continue\n\n        detail_url = f\"{api_base}/datasets/{dataset_id}/documents/{doc_id}?{urlencode({'metadata': 'all'})}\"\n        detail, detail_err = _run_json_get(detail_url, headers=headers)\n        if detail_err:\n            errors.append(f\"Document {doc_id}: {detail_err}\")\n            continue\n\n        meta = _metadata_to_dict(detail)\n        docs.append(\n            {\n                \"id\": doc_id,\n                \"title\": meta.get(\"title\") or str(detail.get(\"name\") or \"\").strip(),\n                \"authors\": meta.get(\"authors\", \"\"),\n                \"year\": meta.get(\"year\", \"\"),\n                \"journal\": meta.get(\"journal\", \"\"),\n            }\n        )\n\n    return docs, errors\n\n\ndef _render_result(matches: list[dict], total_docs: int) -> str:\n    if not matches:\n        return (\n            \"No documents found.\\n\"\n            f\"Code version: {CODE_VERSION}; Documents checked: {total_docs}; Matches: 0\"\n        )\n\n    lines = []\n    for idx, doc in enumerate(matches, start=1):\n        lines.append(\n            f\"{idx}. {doc['title']} | {doc['authors']} | {doc['year']} | {doc['journal']}\"\n        )\n    header = (\n        f\"Code version: {CODE_VERSION}; Documents checked: {total_docs}; \"\n        f\"Matches: {len(matches)}\"\n    )\n    return header + \"\\n\" + \"\\n\".join(lines)\n\n\ndef main(year=None, authors=None, journal=None, title=None):\n    api_base = (os.getenv(\"DIFY_API_URL\") or \"http://rmap-chatbot-demo-dify/v1\").rstrip(\n        \"/\"\n    )\n    dataset_id = os.getenv(\"DIFY_DATASET_ID\") or \"227cf97a-8e56-4cd6-808d-caf57bc0d2bf\"\n    api_key = os.getenv(\"DIFY_API_KEY\") or \"REDACTED\"\n\n    if not _is_set(api_base) or not _is_set(dataset_id) or not _is_set(api_key):\n        return {\n            \"result\": (\n                \"Dify API configuration incomplete. \"\n                \"Expected DIFY_API_URL, DIFY_DATASET_ID, and DIFY_API_KEY.\"\n            )\n        }\n\n    headers = _build_headers(str(api_key).strip())\n    docs, errors = _collect_documents(str(api_base), str(dataset_id).strip(), headers)\n\n    year_filter = _sanitize_year_filter(year)\n    journal_filter = _sanitize_free_text_filter(journal, max_len=80)\n    title_filter = _sanitize_free_text_filter(title, max_len=160)\n\n    matches = []\n    for doc in docs:\n        if _matches_filters(doc, year_filter, authors, journal_filter, title_filter):\n            matches.append(doc)\n\n    unique = {}\n    for doc in matches:\n        key = (\n            (doc.get(\"title\") or \"\").strip().lower(),\n            (doc.get(\"authors\") or \"\").strip().lower(),\n            (doc.get(\"year\") or \"\").strip(),\n            (doc.get(\"journal\") or \"\").strip().lower(),\n        )\n        if key not in unique:\n            unique[key] = doc\n    final_docs = list(unique.values())\n\n    result_text = _render_result(final_docs, total_docs=len(docs))\n    if errors:\n        result_text += \"\\nError details:\\n\" + \"\\n\".join(f\"- {e}\" for e in errors[:8])\n    return {\"result\": result_text}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: Code
        type: code
        variables:
        - value_selector:
          - '1778151289106'
          - year
          value_type: number
          variable: year
        - value_selector:
          - '1778151289106'
          - authors
          value_type: array[string]
          variable: authors
        - value_selector:
          - '1778151289106'
          - journal
          value_type: string
          variable: journal
        - value_selector:
          - '1778151289106'
          - title
          value_type: string
          variable: title
      height: 51
      id: '1778157971717'
      position:
        x: 295.30315651265096
        y: 2919.5942650549255
      positionAbsolute:
        x: 295.30315651265096
        y: 2919.5942650549255
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778157971717'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-oss
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 400aef06-66bf-4730-a1f4-3dd418d2d48e
          role: system
          text: 'You are the metadata answerer for an academic paper database.


            Use ONLY the metadata result provided in {{#context#}}.


            Response policy:


            - Answer in the same language as the user.


            - Be precise and concise.


            - If context includes errors or no results, explain that clearly and suggest
            one concrete reformulation (for example: add year, remove strict filters, or
            provide full author name).


            - If context includes a list of documents, present a short summary first, then
            up to 10 items in a clean numbered list.


            - Do not invent papers or counts.


            - Do not mention internal nodes, GraphQL, or system internals unless the user
            explicitly asks for technical details.'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1778235946024'
      position:
        x: 653.1709406123205
        y: 2919.5942650549255
      positionAbsolute:
        x: 653.1709406123205
        y: 2919.5942650549255
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 511.2441658530131
      y: -1286.2234056848104
      zoom: 0.5951332106689368
  rag_pipeline_variables: []
